<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="./"></base>
		<meta charset="UTF-8" />
		<title>PGS v3: <%= user.username %></title>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="lib/extjs/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all-debug.css">
		<!-- <link rel="stylesheet" type="text/css" href="lib/extjs/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all-debug.cssx"> -->
		<link rel="stylesheet" type="text/css" href="css/pgsv3.css">
		
		<!-- JS -->
		<script type="text/javascript" src="lib/extjs/ext-all-debug.js"></script>

		
		<link rel="stylesheet" type="text/css" href="lib/ol/theme/default/pgp.css">
		<script src="lib/ol/OpenLayers.light.js"></script>
		<script src="lib/ol/NAMRIA.js"></script>
		
		<!-- Main -->
		<script src="app.js"></script>
		
		<script>
			var user = <%- JSON.stringify(user) %>;
			console.log(user);
		</script>
		
	</head>
	<body></body>
</html>
